/* --------------
font-family: 'Alumni Sans Pinstripe', sans-serif; font-weight: 600;letter-spacing: 0.1em;     Подвал, текст
font-family: 'Kurale', serif; font-weight: 500;                                              Кнопки, заголовки
font-family: 'Philosopher', sans-serif; font-weight: 400;                                   Текст, заголовки
 --------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    background: radial-gradient(100% 100% at 30% 0%, rgba(61, 76, 125, 0.85) 0%,
            rgba(157, 175, 211, 0.85) 100%, rgba(161, 178, 214, 0.85) 100%) no-repeat,
        url(./img/bg.jpg) top/100% repeat-y;
}

.section {
    position: relative;
    margin: auto;
    display: flex;
    width: 80vw;
    max-width: 1140px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;

    border: 1px solid red;
}

.Nadpis {
    margin-bottom: 1vh;
    font-size: calc(14px + 10 * (((100vw + 100vh)/2) / 1140));
    color: #FFFFFF;
    font-family: 'Philosopher', sans-serif; 
    font-weight: 400;
    font-style: normal;
    padding-left: 2%;;
    letter-spacing: 3px;
}


/* -------------
    Контент INDEX
    ------------- */

.right {
    width: 50%;
}

.right img {
    width: 100%;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    align-self: start;
}

.left h2 {
    width: 85%;
    margin-bottom: 18%;
    margin-left: 8%;
    font-size: calc(32px + 16 * (((100vw + 100vh)/2) / 1140));
    color: #FFFFFF;
    font-family: 'Philosopher', sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.menu {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20%;
}

.menu a {
    display: block;
    width: 40%;
    margin: 1.5vh 2%;
}

.menu button {
    width: 100%;
    justify-content: center;
    height: 140px;
    background: #FFE0D6;
    border: 4px solid #9DAFD3;
    border-radius: 11px;
    font-size: calc(18px + 12 * (((100vw + 80vh)/2) / 1140));
    line-height: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    color: #495A92;
    font-family: 'Kurale', serif;
    font-weight: 800;
}

.menu button:hover {
    background: #FAB5D4;
    width: 105%;
}

.OrderBye {
    align-self: center;
    width: 85%;
}

.OrderBye button {
    width: 100%;
    border: none;
    cursor: pointer;
    height: max-content;
    background: #FE795A;
    border-radius: 25px;
    font-weight: 400;
    font-size: calc(32px + 8 * (((100vw + 80vh)/2) / 1140));
    line-height: 58px;
    padding: 6% 0;
    transition: all 0.1s;
    color: #495A92;
    font-family: 'Kurale', serif;
    font-weight: 800;
}

.OrderBye button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    background: #FAB5D4;
}


/* -----------
Котент Contacts
--------------*/

.Contacts-left {
    width: 55%;
    border: 1px solid #9DAFD3;
    border-radius: 25px;
    padding: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Conacts-rows {
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Contacts-pic {
    width: 15%;
    margin-right: 4%;
    transition: all 5s;
    
}

.Contacts-pic:hover {
    border-radius: 50px;
    background-color: #FFE0D6;
    filter:blur(5px);
}

.Contacts-pic img {
    width: 100%;
    height: auto;
    filter:blur(0.8px);
}

.Contacts-logins {
    height:100%;
    font-family: 'Alumni Sans Pinstripe', sans-serif; 
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5em;
    font-size: calc(14px + 2 * (((100vw + 80vh)/2) / 1140));
}

.Contacts-logins a {
    color:#FFFFFF;
}

.Contacts-right {
    width: 40%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
}

.Contacts-circles {
    width: 100%;
    margin-bottom: 16%;
}

.A img, .B img {
    width: 100%;
}

.A {
    position: relative;
}

.B {
    width: 50%;
    position:absolute;
    bottom: 5%;
    left: 2%;
    cursor: pointer;
    border-radius:50%;
}

.Contacts-right div.OrderBye {
    width: 100%;
}

/* -----------
Контент Aboutme
--------------*/

.About-top, .About-left-mid{
    width: 50%;
    align-self: start;
    padding: 0 2%;
    font-size: calc(16px + 10 * (((100vw + 80vh)/2) / 1140));
}

.ulform {
    text-decoration: none;
    list-style:inside;
    font-family: 'Kurale', serif; font-weight: 500; 
    color: #FFFFFF;
    padding: 4%;
    border-radius: 25px;
    border: 1px solid #9DAFD3;
    margin-right: 2%;
}

.About-left-mid {
    width: 60%;
    padding: 0 0 2% 2%;
    font-size: calc(16px + 8 * (((100vw + 80vh)/2) / 1140));
    color: #FFFFFF;
}

.About-right-mid {
    width: 40%;
    padding: 5%;
}

.About-row {
    width: 96%;
    margin: 1% 2%;
    display: flex;
    justify-content: space-between;
}

.About-row img {
    width: 100%;
}

.About-row div {
    width: 15%;
}

.About-row p {
    margin: .4%;
    max-width: 85%;
    padding: .7%;
    background: #FFE0D6;
    border-radius: 12px;
    color: #495A92;
    font-family: 'Kurale', serif; 
    font-weight: 500;  
    font-size: calc(12px + 8 * (((100vw + 80vh)/2) / 1140));
    text-align: justify;
}

/* -------------
Контент Projects
---------------*/

.link-group{
    width: 70%;
    margin: auto;
    list-style: none;
    display: flex;
    background: radial-gradient(circle, rgba(98, 116, 166, 1) 0%, rgba(121, 138, 185, 0.7) 30%, rgba(132, 150, 192, 0.4) 68%, rgb(134, 145, 167, 0.05) 100%);
    justify-content: space-between;
   }

.link-group li{
    text-align: center;
    width: 25%;
    transition: .5s;
    text-transform: uppercase;
    font-size: calc(4px + 18 * (((100vw + 80vh)/2) / 1140));
    font-family: 'Philosopher', sans-serif; 
    font-weight: 400;  
}

.bord {
    justify-content: space-around;
    border: 1px solid #9DAFD3;
    border-radius: 25px;
}
.project-block{
    width: 45%;
    height: 27vw;
    max-height: 400px;
    position: relative;
    margin: 2%;
}
.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
    border-radius: 12px;
}
.project-content{
    height: 100%;
    position: relative;
    padding: 5%;
    transition: .5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 12px;
}
.project-name{
    width: 100%;
    font-size: calc(6px + 30 * (((100vw + 100vh)/2) / 1140));
    text-transform: capitalize;
    text-align: center;
    font-family: 'Kurale', serif; 
    font-weight: 500;
    color: #495A92;
    position: absolute;
    background-color: rgba(255, 224, 214, .4);
    border-radius: 12px;
    
}
.project-info{
    min-height: 60px;
    max-height: 80%;
    margin: 10%;
    font-size: calc(8px + 12 * (((100vw + 100vh)/2) / 1140));
    line-height: 1.5em;
    text-align: center;
    overflow: hidden;
    font-family: 'Kurale', serif; 
    font-weight: 500;
    color: #495A92;
}
.project-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.project-btn{
    height: 40px;
    text-transform: capitalize;
    border: none;
    font-weight: 500;
    font-family: 'Kurale', serif; 
    font-size: calc(10px + 8 * (((100vw + 80vh)/2) / 1140));
}
.project-block:hover .project-img{
    filter: blur(20px);
}
.project-block:hover .project-content{
    background: rgba(255, 224, 214, .2);
    opacity: 1;
}

.bottom-button {
    margin:auto; 
    width: 45%; 
}

/* -------------
Контент Servises
---------------*/

:root {
    --red:#FE795A;
    --transitionDuration: 0.2s;
    --transitionTimingFunction: linear;
    --time: var(--transitionDuration) var(--transitionTimingFunction);
}

.accordion {
    margin: 2%;
    width: 100%;
    display: block;
    --gray: #495A92;
}

.accordion__item {
    --backgroundColor: #f7f7f7;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content:left;
    flex-wrap: wrap;
}

.accordion__item:not(:last-child) {
    margin-bottom: 3%;
}

.accordion__header {
    width: 30%;
    height: 7vw;
    max-height: 120px;
    padding: 3% 0;
    margin-right: 0.1%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    user-select: none;
    justify-content: center;
    background-color: #FFE0D6;
    border-radius: 12px;
    border: 4px solid #9DAFD3;
    font-size: calc(12px + 8 * (((100vw + 80vh)/2) / 1140));
    text-transform: uppercase;
    transition: all 0.3s;
    color: #495A92;
    font-family: 'Kurale', serif;
    font-weight: 800;
}

.accordion__header:hover {
    width: 34%;
    background: #FAB5D4;
}

.accordion__header__title {
    width: 50%;
    padding-right: 10px;
    transition: color var(--time);
    text-align: center;
    cursor: pointer;
}

.accordion__item.active .accordion__header__title {
  color: var(--red)
}

.accordion__header__img {
  border-right: 1px solid var(--gray);
  padding: 10px;
  cursor: pointer;
  
}

.accordion__header__img-circle {
  border: 1px solid #505050;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--time);
}

.accordion__item.active .accordion__header__img-circle {
  border-color: var(--red);
}

.accordion__header__img-circle::before,
.accordion__header__img-circle::after {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 2px;
  background-color: #505050;
  transition: background-color var(--time), transform var(--time);
}

.accordion__item.active .accordion__header__img-circle::before,
.accordion__item.active .accordion__header__img-circle::after {
  background-color: var(--red);
}

.accordion__item.active .accordion__header__img-circle::before {
  transform: rotate(0deg);
}

.accordion__header__img-circle::before {
  transform: rotate(90deg);
}

.accordion__text__wrapper {
    border-radius: 40px;
    width: 65%;
    overflow: hidden;
    height: 0px;
    background-color: #FFE0D6;
    transition: All var(--time);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------
Медиа
-------------*/
@media (max-width: 860px) {
    /* --Index-- */
    .right {
        width: 100%;
        margin-top: 5vh;
    }
    .left {
        width: 100%;
    }
    .left h2 {
        width: 100%;
        font-size: 36px;
    }
    .menu button {
        font-size: calc(12px + 12 * (((100vw + 80vh)/2) / 1140));
    }

    /* --Contacts-- */
    .Contacts-pic {
        min-width: 80px;
    }
    .Contacts-left {
        width: 100%;
        margin-right: 2%;
    }
    .Contacts-right {
        width: 100%;
        margin: 2% 2% 0 2%;
    }

    /* -- Aboutme-- */
    .About-left-mid {
        width: 100%;
    }
    .About-right-mid {
        display: none;
    }

    /* -- Projects -- */
    .project-block {
        width: 90%;
        height: 50vw;
        margin: 4% 2%;
    }
    .project-info {
        font-size: calc(12px + 12 * (((100vw + 80vh)/2) / 1140));
        margin: 5% 2% 0 2%;
        line-height: 1.2em;
    }
    .bottom-button {
        width: 90%;
        margin: auto;
    }

    /* -- Servises -- */
    .accordion__header {
        width: 100%;
        height: 27vw;
    }
    .accordion__text__wrapper {
        width: 100%;
    }
    .accordion__header:hover {
        width: 100%;
    }
    
    .accordion__header:hover ~ .accordion__text__wrapper {
        width: 100%;
    }
}

@keyframes shake {
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, 2px) rotate(-1deg);}
    20% {transform: translate(-0px, 0px) rotate(1deg);}
    30% { transform: translate(1px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-1px, 1px) rotate(0deg);}
    70% {transform: translate(-2px, 0px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(0deg);}
    90% {transform: translate(1px, 2px) rotate(1deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}